@import "./../../styles/Variables";

.btn {
  background: $btnColor;
  color: $white;
  display: inline-block;
  font-weight: $SemiBold;
  padding: 15px 45px;
  border: 1px solid transparent;
  text-transform: capitalize;
  z-index: 1;
  position: relative;
  font-size: 16px;
  transition: all 0.3s;
  border-radius: 0;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background: transparent;
    color: $btnColor;
    border: 1px solid $btnColor;
  }
}
