@import "./../../styles/Variables";
.marque__container {
  background: $formBG;
  padding: 40px 0;
  position: relative;
  z-index: -1;
  overflow: hidden;
  @media ($tablet_max) {
    padding: 20px 0;
  }
  p {
    font-weight: 400;
    font-size: 48px;
    line-height: 102%;
    white-space: nowrap;
    will-change: transform;
    margin-bottom: 0;
    color: $titleColor;

    @media ($tablet_max) {
      font-size: 38px;
    }

    @media ($phone_max) {
      font-size: 30px;
    }
  }
  .overlay {
    display: none;
  }
}
